<ion-view>
    <ion-nav-title>
        <strong style="font-size: 24px;">BP</strong>
    </ion-nav-title>

    <ion-header-bar class="bar-subheader" align-title="left" ng-if="vm.currentActiveTab == 0">
        <span class="header-text">Categories</span>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader" align-title="left" ng-if="vm.currentActiveTab == 1">
        <span class="header-text">Calendar</span>
    </ion-header-bar>

    <ion-content class="has-subheader">
        <ion-slide-box show-pager="false" active-slide="vm.currentActiveTab" on-slide-changed="vm.tabHasChanged($index)">
            <ion-slide>
                <ion-list class="bg-image-list">
                    <ion-item class="bg-image-list-item" ui-sref="app.category.view({categorySlug: category.slug})" ng-repeat="category in vm.categories" style="background-image: url(http://bud.api{{ category.coverImage.relativePath }});">
                        <div class="description">
                            <span class="text-content">
                                {{ category.name }}
                            </span>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-slide>
            <ion-slide>
                <div class="">
                    <ion-list class="calendar-list" type="list-inset">
                        <ion-item ui-sref="app.events.by-date({ day:  (date | date : 'dd'), month:  (date | date : 'MM'), year:  (date | date : 'yyyy') })" class="calendar-list-item" ng-repeat="date in vm.dates" style="background-image: url({{ event.coverImage }});">
                            {{ date | date }}
                        </ion-item>
                    </ion-list>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
