<ion-view hide-back-button="true">
    <ion-nav-title>
        <strong style="font-size: 24px;">BP</strong>
    </ion-nav-title>

    <ion-header-bar class="bar-subheader" align-title="left" ng-if="vm.currentActiveTab == 0">
        <span class="header-text">Categories</span>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader" align-title="left" ng-if="vm.currentActiveTab == 1">
        <span class="header-text">Calendar</span>
    </ion-header-bar>

    <ion-content class="has-subheader">
        <ion-slide-box show-pager="false" active-slide="vm.currentActiveTab" on-slide-changed="vm.tabHasChanged($index)">
            <ion-slide>
                <ion-list class="bg-image-list">
                    <ion-item class="bg-image-list-item" ui-sref="app.places.list({categorySlug: category.slug})" ng-repeat="category in vm.categories" style="background-image: url('{{ category.coverImage.uri }}');">
                        <div class="description">
                            <span class="text-content">
                                {{ category.name }} [{{ category.places.length }}]
                            </span>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-slide>
            <ion-slide>
                <div class="cot">
                    <span class="calendar-list-item" ng-repeat="(date,events) in vm.events">
                        <span id="date-{{ date }}">{{ date }}</span>
                        <ion-list class="bg-image-list">
                            <ion-item class="bg-image-list-item bg-list-item-with-description" ui-sref="app.events.view({eventSlug: event.slug})" ng-repeat="event in events" style="background-image: url('{{ event.images[0].uri }}');">
                                <span class="text-content">
                                    <span class="header">{{ event.title }}</span>
                                    <div class="row row-unpadded">
                                        <div class="col col-90">
                                            <p class="description">{{ event.shortDescription }}</p>
                                        </div>
                                        <div class="col col-10">
                                            <span class="distance">
                                                2.3 km
                                            </span>
                                        </div>
                                    </div>
                                </span>
                            </ion-item>
                        </ion-list>
                    </span>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
