<ion-view hide-back-button="true">
    <div class="bar bar-subheader bar-calendar">
        <div class="search-box" ng-show="showSearch">
            <input type="text" placeholder="Search" ng-model="vm.searchQuery" ng-change="vm.searchPlaces()">
        </div>

        <div ng-show="!showSearch">
            <h1 class="category-name" ng-if="!vm.showWeekdays">What's On</h1>
            <div class="text-center" ng-if="vm.showWeekdays">
                <div class="weekday-circle" ng-repeat="(date, events) in vm.events" ng-click="vm.goToDate(date)" ng-class="{selected : date == vm.subheaderDate}">{{ (date | moment : 'dd').charAt(0) }}</div>
            </div>

            <div>
                <small class="category-listings-count calendar-item-divider">{{ vm.subheaderDate | moment : 'dddd Do' }}</small>
            </div>
        </div>
    </div>

    <ion-content on-scroll="vm.onScroll()" class="has-subheader has-calendar-subheader">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="vm.getEvents()">
        </ion-refresher>

        <span class="calendar-list-item" ng-repeat="(date,events) in vm.events">
            <div class="item calendar-item-divider item-divider" ng-if="$index !== 0">
                {{ date | moment : 'dddd Do' }}
            </div>

            <ion-list class="bg-image-list">
                <ion-item class="bg-image-list-item bg-list-item-with-description"
                          ui-sref="app.event.event-view({eventSlug: event.slug})"
                          ng-repeat="event in events">

                    <img ng-src="{{ event.images[0].uri }}">
                    <div class="text-content text-shadowed">
                        <h1>{{ event.title }}</h1>
                        <p class="description">{{ event.shortDescription }}</p>
                        <div class="item-rating-distance clearfix">
                        <span class="pull-left distance">
                            {{ event.distance }}
                        </span>
                        <span class="pull-right">
                            <span class="ion-star" style="font-size: 16px; letter-spacing: .2em" ng-repeat="i in getNumber(event.rating) track by $index"></span>
                        </span>
                        </div>
                    </div>

                </ion-item>
            </ion-list>
        </span>
    </ion-content>
</ion-view>