<ion-view hide-back-button="true">
    <ion-header-bar class="bar-subheader" align-title="left">
        <div class="row responsive-sm">
            <div class="col day"><span class="ion-ios-time-outline"></span> Today's pick</div>
        </div>
    </ion-header-bar>

    <ion-content class="has-subheader">
        <ion-list class="bg-image-list">
            <ion-item class="bg-image-list-item bg-list-item-with-description" ui-sref="app.event.view({eventSlug: event.slug})" ng-repeat="event in vm.events" style="background-image: url('{{ event.images[0].uri }}');">
                <span class="text-content">
                    <span class="header">{{ event.title }}</span>
                    <div class="row row-unpadded">
                        <div class="col col-90">
                            <p class="description">{{ event.shortDescription }}</p>
                        </div>
                        <div class="col col-10">
                            <span class="distance">
                                2.3 km
                            </span>
                        </div>
                    </div>
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
