<ion-view>
    <ion-nav-title>
        <strong style="font-size: 24px;">BP</strong>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-calendar-outline" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-search" menu-toggle="right"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader" align-title="left">
        <div class="row responsive-sm">
            <div class="col day">Shopping / Vaci utca</div>
        </div>
    </ion-header-bar>

    <ion-content class="has-subheader">
        <div class="row">
            <div class="event-hero-image event-hero-image-with-captions" style="background-image: url('img/wood.jpg');">
                <div class="event-hero-image-captions">
                    <div class="row">
                        <span class="event-address">VACI UTCA</span>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="event-category">SHOPPING</span>
                        </div>
                        <div class="col text-right">
                            <span class="event-distance">10.4 Miles <span class="ion-map"></span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="event-paragraphs">
            <p>A pace forwards a cage. The gut thirsts near every infrastructure. Our dual choral exits around an emerging misery. A treasure gears the abroad electorate. Every biochemistry stares.</p>
            <p>A less volume swears. The classic immortal tends the light. A strength starves the baking breach. Near the paradox writes a forthcoming accent.</p>
        </div>

        <div class="event-hero-image" style="background-image: url('img/wood.jpg');"></div>

        <div class="event-paragraphs">
            <p>The obscene wit expires against the polish stomach. The charm bounces after a drill. The embedded cathedral lies behind a crown. Why does the poet bounce?</p>
        </div>

        <div class="event-hero-image" style="background-image: url('img/map.jpg')"></div>
    </ion-content>
</ion-view>
