<ion-view hide-nav-bar="true">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.getEvent()"></ion-refresher>

        <div class="landing-hero-image landing-hero-image-with-captions">
            <img ng-src="{{ vm.event.coverImage.uri }}" alt="">
            <div class="landing-hero-image-captions text-shadowed">
                <div class="landing-hero-image-back-button" ng-if="hasBackView()">
                    <a href="" ng-click="goBack()">Back</a>
                </div>

                <h1 class="item-title">{{ vm.event.title }}</h1>
                <h4 class="item-short-description">{{ vm.event.shortDescription }}</h4>
                <div class="item-rating-distance clearfix">
                    <h5 class="pull-left distance">{{ vm.event.distance }}</h5>
                    <h5 class="pull-right">
                        <span class="ion-star" style="font-size: 16px; letter-spacing: .2em" ng-repeat="i in getNumber(vm.event.rating) track by $index"></span>
                    </h5>
                </div>
            </div>
        </div>

        <div class="landing-header landing-event-header">
            <div class="row p-h-xs">
                <div class="col p-n">
                    <span>
                        {{ vm.event.dateFrom | date : "d MMM" }}
                    </span>
                    <span ng-if="vm.event.dateTo">
                         - {{ vm.event.dateTo | date : "d MMM yyyy" }}
                    </span>
                </div>
            </div>
        </div>

        <div class="landing-paragraphs">
            <h3>Description:</h3>
            <div ng-bind-html="vm.event.fullDescription"></div>
        </div>

        <ion-slide-box does-continue="true" show-pager="false" ng-if="vm.event.images">
            <ion-slide ng-repeat="image in vm.event.images">
                <div class="landing-carousel-image" style="background-image: url('{{ image.uri }}');"></div>
            </ion-slide>
        </ion-slide-box>

        <div class="landing-header">
            <div class="row">
                <span>Get Directions</span>
            </div>
        </div>

        <div class="landing-map">
            <div id="map" data-tap-disabled="true"></div>
        </div>

        <div class="landing-header">
            <div class="row">
                <span>More Information</span>
            </div>
        </div>

        <div class="landing-credentials">
            <div class="row" ng-if="vm.event.address">
                <div class="col header">Address:</div>
                <div class="col col-67">{{ vm.event.address }}</div>
            </div>
            <div class="row" ng-if="vm.event.website">
                <div class="col header">Website:</div>
                <div class="col col-67"><a href="" ng-click="goToLink('{{ vm.event.website }}')">{{ vm.event.website | limitTo : 50 }}</a></div>
            </div>
            <div class="row" ng-if="vm.event.phonenumber">
                <div class="col header">Phone:</div>
                <div class="col col-67"><a href="" ng-click="goToLink('tel:{{ vm.event.phonenumber }}')">{{ vm.event.phonenumber }}</a></div>
            </div>
            <div class="row" ng-if="vm.event.opened">
                <div class="col header">Open:</div>
                <div class="col col-67">
                    <span style="display: block" ng-repeat="(day, hours) in vm.event.opened">
                        {{ day }}: {{ hours.from | if : hours.from + " - " + hours.to : "Closed" }}
                    </span>
                </div>
            </div>
        </div>

        <div class="landing-actions">
            <div class="row">
                <div class="col text-center">
                    <button class="button button-balanced bg-balanced">Get Tickets</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
