# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# IDE Files
/.idea

# Builds and keys
/apks/
/*.apk
/*.keystore
/www/build

# Vendors
/www/lib/*
node_modules/
platforms/
plugins/
