<ion-view hide-back-button="true">
    <ion-content on-swipe-left="vm.onSwipeLeft()">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.getCategories()"></ion-refresher>

        <div class="search-box" ng-show="showSearch">
            <label class="item item-input">
                <input type="text" placeholder="Search">
            </label>
        </div>

        <ion-list class="category-list">
            <ion-item
                ng-repeat="category in vm.categories">
                <div class="item-content">
                    <h1 class="category-name" ui-sref="app.category.place.place-list({categorySlug: category.slug, category: category})">{{ category.name }}</h1>
                    <small class="category-listings-count">{{ category.placesCount }} Listings</small>
                </div>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
