<ion-view hide-back-button="true">
    <ion-nav-title>
        <span style="font-size: 24px; font-family: 'Poiret One'; letter-spacing: .2em">BP</span>
    </ion-nav-title>

    <ion-content on-swipe-left="vm.onSwipeLeft()">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.getCategories()"></ion-refresher>

        <ion-list class="bg-image-list">
            <ion-item class="bg-image-list-item" ui-sref="app.category.place.place-list({categorySlug: category.slug, category: category})" ng-repeat="category in vm.categories" style="background-image: url('{{ category.coverImage.uri }}');">
                <div class="description">
                    <span class="text-content">
                        {{ category.name }} [{{ category.placesCount }}]
                    </span>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
