<ion-view>
    <ion-nav-title>
        <strong style="font-size: 24px;">BP</strong>
    </ion-nav-title>

    <ion-content>
        <div class="category-entry-hero-image category-entry-hero-image-with-captions" style="background-image: url('img/Pix/pexels-photo-116025-large.jpeg');">
            <div class="category-entry-hero-image-captions">
                <span class="ehic-big">Makondo Cafe</span>
                <span class="ehic-small">162 Rakoczi Utca, District VI</span>
                <span class="ehic-med">2.1 km</span>
            </div>
        </div>

        <div class="category-entry-header category-entry-rates">
            <div class="row">
                <div class="col">Our Rating:</div>
                <div class="col col-67">
                    <span class="ion-social-usd"></span>
                    <span class="ion-social-usd"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">Price Range:</div>
                <div class="col col-67">
                    <span class="ion-star"></span>
                    <span class="ion-star"></span>
                    <span class="ion-star"></span>
                </div>
            </div>
        </div>

        <div class="category-entry-paragraphs">
            <p>A pace forwards a cage. The gut thirsts near every infrastructure. Our dual choral exits around an emerging misery. A treasure gears the abroad electorate. Every biochemistry stares.</p>
            <p>A less volume swears. The classic immortal tends the light. A strength starves the baking breach. Near the paradox writes a forthcoming accent.</p>
            <p>A less volume swears. The classic immortal tends the light. A strength starves the baking breach. Near the paradox writes a forthcoming accent.</p>
        </div>

        <div class="category-entry-hero-image" style="background-image: url('img/Pix/pexels-photo-large (5).jpg');"></div>

        <div class="category-entry-paragraphs">
            <p>The obscene wit expires against the polish stomach. The charm bounces after a drill. The embedded cathedral lies behind a crown. Why does the poet bounce?</p>
        </div>

        <div class="category-entry-header">
            <div class="row">
                <span>Get Directions</span>
            </div>
        </div>
        <div class="category-entry-hero-image" style="background-image: url('img/map.jpg')"></div>

        <div class="category-entry-header">
            <div class="row">
                <span>More Information</span>
            </div>
        </div>

        <div class="category-entry-credentials">
            <div class="row">
                <div class="col header">Website:</div>
                <div class="col col-67"><a href="#">http://macondo.com</a></div>
            </div>
            <div class="row">
                <div class="col header">Telephone:</div>
                <div class="col col-67"><a href="tel:0036707372913">0036707372913</a></div>
            </div>
            <div class="row">
                <div class="col header">Open:</div>
                <div class="col col-67">
                    Mon-Fri: 7:00 - 21:00<br>
                    Sat: 7:30 - 16:30<br>
                    Sun: Closed
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
