<ion-view>
    <ion-nav-title>
        <strong style="font-size: 24px;">BP</strong>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-search" menu-toggle="right"></button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader" align-title="left">
        <span class="header-text">Categories</span>
    </ion-header-bar>

    <ion-content class="has-subheader">
        <div class="row category-tuple" ng-repeat="categoryTuple in vm.testCategories | chunk : 2" ng-class-even="'text-right'">
            <div class="col col-50" ng-repeat="category in categoryTuple" style="background-image: url({{ category.coverImage }});">
                <div class="category">
                    <span class="category-name">{{ category.name }}</span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
