<ion-view hide-nav-bar="true">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.getPlace()"></ion-refresher>

        <div class="landing-hero-image landing-hero-image-with-captions">
            <img ng-src="{{ vm.place.coverImage.uri }}" alt="">
            <div class="landing-hero-image-captions text-shadowed">
                <div class="landing-hero-image-back-button" ng-if="hasBackView()">
                    <a href="" ng-click="goBack()">Back</a>
                </div>

                <h1 class="item-title">{{ vm.place.name }}</h1>
                <h4 class="item-short-description">{{ vm.place.shortDescription }}</h4>
                <div class="item-rating-distance clearfix">
                    <h5 class="pull-left distance">{{ vm.place.distance }}</h5>
                    <h5 class="pull-right">
                        <span class="ion-star" style="font-size: 16px; letter-spacing: .2em" ng-repeat="i in getNumber(vm.place.rating) track by $index"></span>
                    </h5>
                </div>
            </div>
        </div>

        <div class="landing-header landing-rates">
            <div class="row">
                <div class="col">Our Rating:</div>
                <div class="col col-67 price-indicator">
                    <span class="ion-star" ng-repeat="i in getNumber(vm.place.rating) track by $index"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">Price Range:</div>
                <div class="col col-67 rating-indicator">
                    <span class="ion-social-usd" ng-repeat="i in getNumber(vm.place.priceRange) track by $index"></span>
                </div>
            </div>
        </div>

        <!--<div class="landing-recomendation">-->
            <!--<h5>We recommend: <span class="pull-right">500 HUF</span></h5>-->
            <!--<h2>Ginger & Chicken Salad</h2>-->
        <!--</div>-->
        <!--<div class="grad"></div>-->

        <div class="landing-paragraphs">
            <h3>Summary:</h3>
            <div ng-bind-html="vm.place.fullDescription"></div>
        </div>

        <ion-slide-box does-continue="true" show-pager="false" ng-if="vm.place.images">
            <ion-slide ng-repeat="image in vm.place.images">
                <div class="landing-carousel-image" style="background-image: url('{{ image.uri }}');"></div>
            </ion-slide>
        </ion-slide-box>

        <div class="landing-header">
            <div class="row">
                <span>Get Directions</span>
            </div>
        </div>
        <div class="landing-map">
            <div id="map" data-tap-disabled="true"></div>
        </div>

        <div class="landing-header">
            <div class="row">
                <span>More Information</span>
            </div>
        </div>

        <div class="landing-credentials">
            <div class="row" ng-if="vm.place.website">
                <div class="col header">Website:</div>
                <div class="col col-67"><a href="" ng-click="goToLink('{{ vm.place.website }}')">{{ vm.place.website | limitTo : 50 }}</a></div>
            </div>
            <div class="row" ng-if="vm.place.phonenumber">
                <div class="col header">Phone:</div>
                <div class="col col-67"><a href="" ng-click="goToLink('tel:{{ vm.place.phonenumber }}')">{{ vm.place.phonenumber }}</a></div>
            </div>
            <div class="row" ng-if="vm.place.opened">
                <div class="col header">Open:</div>
                <div class="col col-67">
                    <span style="display: block" ng-repeat="(day, hours) in vm.place.opened">
                        {{ day }}: {{ hours.from | if : hours.from + " - " + hours.to : "Closed" }}
                    </span>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
