<ion-view hide-back-button="true">
    <ion-content>
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.getPlaces()"></ion-refresher>

        <div class="unsticky-header">
            <div class="search-box" ng-show="showSearch">
                <input type="text" placeholder="Search" ng-model="vm.searchQuery" ng-change="vm.searchPlaces()">
            </div>

            <div ng-show="!showSearch">
                <h1 class="category-name">{{ vm.category.name }}</h1>
                <div>
                    <small class="category-listings-count">{{ vm.category.placesCount }} Listings</small>
                </div>
            </div>
        </div>

            <ion-list class="bg-image-list" ng-show="vm.places.length > 0">
                <ion-item ng-repeat="place in vm.places"
                          ui-sref="app.category.place.place-view({categorySlug: vm.categorySlug, placeSlug: place.slug})"
                          class="bg-image-list-item bg-list-item-with-description">

                    <img ng-src="{{ place.images[0].uri }}">
                    <div class="text-content text-shadowed">
                        <h1>{{ place.name }}</h1>
                        <p class="description">{{ place.shortDescription }}</p>
                        <div class="place-rating-distance clearfix">
                            <span class="pull-left distance">
                                {{ place.distance }}
                            </span>
                            <span class="pull-right">
                                <span class="ion-star" style="font-size: 16px; letter-spacing: .2em" ng-repeat="i in getNumber(place.rating) track by $index"></span>
                            </span>
                        </div>
                    </div>

                </ion-item>
            </ion-list>

        <div ng-show="vm.places.length === 0">
            <h4>No places were found in this category</h4>
            <h5>Wait a bit and we'll post something!</h5>
        </div>
    </ion-content>
</ion-view>
