<ion-view hide-back-button="true">
    <ion-nav-title>
        <span style="font-size: 24px; font-family: 'Poiret One'; letter-spacing: .2em">BP</span>
    </ion-nav-title>

    <ion-header-bar class="bar-subheader" align-title="left" no-tap-scroll="true">
        <span class="header-text" ng-if="vm.places.length > 0">
            {{ vm.places[0].category.name }}
        </span>
        <span class="header-text" ng-if="vm.places.length === 0">Whoops</span>
    </ion-header-bar>

    <ion-content>
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="vm.getPlaces()">
        </ion-refresher>
        <ion-list class="bg-image-list" ng-show="vm.places.length > 0">
            <ion-item class="bg-image-list-item bg-list-item-with-description" ui-sref="app.category.place.place-view({categorySlug: vm.categorySlug, placeSlug: place.slug})" ng-repeat="place in vm.places" style="background-image: url('{{ place.images[0].uri }}');">
                <span class="text-content">
                    <span class="header">{{ place.name }}</span>
                    <div class="row row-unpadded">
                        <div class="col col-90">
                            <p class="description">{{ place.shortDescription }}</p>
                        </div>
                        <div class="col col-10">
                            <span class="distance">
                                {{ place.distance }}
                            </span>
                        </div>
                    </div>
                </span>
            </ion-item>
        </ion-list>
        <div ng-show="vm.places.length === 0">
            <h4>No places were found in this category</h4>
            <h5>Wait a bit and we'll post something!</h5>
        </div>
    </ion-content>
</ion-view>
