.header-divider {
    height: 60px;
    line-height: 50px;
    font-size: 20px;
    padding-left: 50px;
}

.header-divider .date-state:before {
    font-family: 'Ionicons';
    content: "\f402";
    position: absolute;
    left: 25px;
}