<ion-view>
    <ion-nav-title>
        <strong style="font-size: 24px;">BP</strong>
    </ion-nav-title>

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-calendar-outline" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-ios-search" menu-toggle="right"></button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list class="calendar-list" type="list-inset">
            <ion-item ui-sref="app.events({ day:  (date | date : 'dd'), month:  (date | date : 'MM'), year:  (date | date : 'yyyy') })" class="calendar-list-item" ng-repeat="date in vm.testDates" style="background-image: url({{ event.coverImage }});">
                {{ date | date }}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
