/*==================================
=        Event listing page        =
==================================*/
.description .category-entry-location {
    display: block;
}


/*==================================
    TODO: Rename all of those classes
    TODO: Move these styles to the global stylesheets
    TODO: Refactor styles to match the most recent mocks
==================================*/

/*==================================
=            Event page            =
==================================*/
.category-entry-hero-image {
    height: 180px;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

.category-entry-hero-image-with-captions {
    position: relative;
}

.category-entry-hero-image-captions {
    position: absolute;
    color: white;
    top: 25%;
}

.category-entry-hero-image-captions > span {
    display: block;
    line-height: 1.3em;
    margin-left: 40px;
    margin-bottom: 5px;
}

.ehic-big {
    font-size: 3em;
    font-weight: bold;
}

.ehic-small {
    font-size: 1em;
}

.ehic-med {
    font-size: 1.5em;
    font-weight: bold;
}

.category-entry-header {
    width: 100%;
    background: #414040;
    color: white;
    padding: 10px 40px;
    font-weight: bold;
}

.category-entry-rates {
    padding: 0 0 0 40px;
}

.category-entry-hero-image-captions .category-entry-address {
    letter-spacing: .1em;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.category-entry-paragraphs {
    padding: 25px 50px;
}

.category-entry-paragraphs p {
    font-size: 16px;
    line-height: 1.3em;
}

.category-entry-credentials .header {
    color: #a0a0a0;
    padding-left: 40px;
}

.category-entry-credentials a {
    color: #363641;
    text-decoration: underline;
}