<ion-view>
    <ion-nav-title>
        <strong style="font-size: 24px;">BP</strong>
    </ion-nav-title>

    <ion-header-bar class="bar-subheader" align-title="left">
        <span class="header-text">
            {{ vm.places[0].category.name }}
        </span>
    </ion-header-bar>

    <ion-content class="has-subheader">
        <ion-list class="bg-image-list">
            <ion-item class="bg-image-list-item bg-list-item-with-description" ui-sref="app.places.view({categorySlug: vm.categorySlug, placeSlug: place.slug})" ng-repeat="place in vm.places" style="background-image: url('{{ place.images[0].uri }}');">
                <span class="text-content">
                    <span class="header">{{ place.name }}</span>
                    <div class="row row-unpadded">
                        <div class="col col-80">
                            <p class="description">{{ place.shortDescription }}</p>
                        </div>
                        <div class="col col-20">
                            <span class="distance">
                                2,1 km
                            </span>
                        </div>
                    </div>
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
