<ion-view hide-nav-bar="true">
    <ion-content>
        <div class="landing-hero-image landing-hero-image-with-captions" style="background-image: url('{{ vm.place.coverImage.uri }}');">
            <div class="landing-hero-image-back-button" ng-if="hasBackView()">
                <a href="" ng-click="goBack()">
                    <span class="ion-android-arrow-back"></span> Back
                </a>
            </div>
            <div class="landing-hero-image-captions">
                <span class="ehic-big">{{ vm.place.name }}</span>
                <span class="ehic-small">{{ vm.place.address }}</span>
                <span class="ehic-med">{{ vm.place.distance }}</span>
            </div>
        </div>

        <div class="landing-header landing-rates">
            <div class="row">
                <div class="col">Our Rating:</div>
                <div class="col col-67 price-indicator">
                    <span class="ion-star" ng-repeat="i in vm.getNumber(vm.place.rating) track by $index"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">Price Range:</div>
                <div class="col col-67 rating-indicator">
                    <span class="ion-social-usd" ng-repeat="i in vm.getNumber(vm.place.priceRange) track by $index"></span>
                </div>
            </div>
        </div>

        <div class="landing-paragraphs">
            <div ng-bind-html="vm.place.descriptionBlock1"></div>
        </div>

        <ion-slide-box does-continue="true" show-pager="false" ng-if="vm.place.images">
            <ion-slide ng-repeat="image in vm.place.images">
                <div class="landing-carousel-image" style="background-image: url('{{ image.uri }}');"></div>
            </ion-slide>
        </ion-slide-box>

        <div class="landing-paragraphs">
            <div ng-bind-html="vm.place.descriptionBlock2"></div>
        </div>

        <div class="landing-header">
            <div class="row">
                <span>Get Directions</span>
            </div>
        </div>
        <div class="landing-map">
            <div id="map" data-tap-disabled="true"></div>
        </div>

        <div class="landing-header">
            <div class="row">
                <span>More Information</span>
            </div>
        </div>

        <div class="landing-credentials">
            <div class="row" ng-if="vm.place.website">
                <div class="col header">Website:</div>
                <div class="col col-67"><a href="#">{{ vm.place.website }}</a></div>
            </div>
            <div class="row" ng-if="vm.place.phonenumber">
                <div class="col header">Telephone:</div>
                <div class="col col-67"><a ng-href="tel:{{ vm.place.phonenumber }}">{{ vm.place.phonenumber }}</a></div>
            </div>
            <div class="row" ng-if="vm.place.opened">
                <div class="col header">Open:</div>
                <div class="col col-67">{{ vm.place.opened }}</div>
            </div>
        </div>
    </ion-content>
</ion-view>
