<ion-view>
    <ion-nav-title>
        <strong style="font-size: 24px;">BP</strong>
    </ion-nav-title>

    <ion-content>
        <div class="landing-hero-image landing-hero-image-with-captions" style="background-image: url('img/pexels-photo-116025-large.jpeg');">
            <div class="landing-hero-image-captions">
                <span class="ehic-big">{{ vm.place.name }}</span>
                <span class="ehic-small">{{ vm.place.location }}</span>
                <span class="ehic-med">2.1 km</span>
            </div>
        </div>

        <div class="landing-header landing-rates">
            <div class="row">
                <div class="col">Our Rating:</div>
                <div class="col col-67">
                    <span class="ion-social-usd"></span>
                    <span class="ion-social-usd"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">Price Range:</div>
                <div class="col col-67">
                    <span class="ion-star"></span>
                    <span class="ion-star"></span>
                    <span class="ion-star"></span>
                </div>
            </div>
        </div>

        <div class="landing-paragraphs">
            <div ng-bind-html="vm.place.descriptionBlock1"></div>
        </div>

        <div class="landing-hero-image" style="background-image: url('img/pexels-photo-large (5).jpg');"></div>

        <div class="landing-paragraphs">
            <div ng-bind-html="vm.place.descriptionBlock2"></div>
        </div>

        <div class="landing-header">
            <div class="row">
                <span>Get Directions</span>
            </div>
        </div>
        <div class="landing-hero-image">
            <div id="map" data-tap-disabled="true"></div>
        </div>

        <div class="landing-header">
            <div class="row">
                <span>More Information</span>
            </div>
        </div>

        <div class="landing-credentials">
            <div class="row">
                <div class="col header">Website:</div>
                <div class="col col-67"><a href="#">{{ vm.place.website }}</a></div>
            </div>
            <div class="row">
                <div class="col header">Telephone:</div>
                <div class="col col-67"><a href="tel:0036707372913">{{ vm.place.phonenumber }}</a></div>
            </div>
            <div class="row">
                <div class="col header">Open:</div>
                <div class="col col-67">{{ vm.place.opened }}</div>
            </div>
        </div>
    </ion-content>
</ion-view>
