/*==============================
=    Global Ionic Overrides    =
==============================*/
.bar-subheader {
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    padding-left: 50px;
}

.has-subheader {
    top: 104px;
}

html, body {
    /*font-family: 'PT Sans';*/
}

.row {
    margin: 0;
}

.row.row-unpadded, .row.row-unpadded .col {
    padding: 0;
}

body, .bar.bar-stable .title {
    color: #464444;
}

.bar-subheader .header-text-image {
    color: #fff;
}

.bar-subheader .row {
    padding-left: 5px;
}

.bar-subheader .row, .bar-subheader .row .col {
    padding: 0;
}

.bar-subheader .day {
    font-size: 20px;
}

.bar-subheader .date {
    color: #c9c9c9;
}

@media (max-width: 567px) {
    .responsive-sm .col, .responsive-sm .col-10, .responsive-sm .col-20, .responsive-sm .col-25, .responsive-sm .col-33, .responsive-sm .col-34, .responsive-sm .col-50, .responsive-sm .col-66, .responsive-sm .col-67, .responsive-sm .col-75, .responsive-sm .col-80, .responsive-sm .col-90 {
        margin-bottom: 0;
    }
}

.bg-image-list-item.item-complex a.item-content {
    display: inline;
    background: none;
    padding: 0;
    color: #fff;
}

.bg-image-list-item {
    color: white;
    padding: 65px 50px;
    background-size: 100%;
    background-repeat: no-repeat
}

.bg-image-list-item.bg-list-item-with-description {
    padding: 40px 50px;
}

.bg-image-list-item .text-content {
    font-weight: bold;
    font-size: 35px;
    display: block;
}

.bg-image-list-item.bg-list-item-with-description .text-content span.header {
    font-size: 30px
}

.bg-image-list-item.bg-list-item-with-description .text-content p.description {
    margin-top: 10px;
    width: 80%;
    color: #fff;
    font-size: 13px;
    white-space: normal;
}

.bg-image-list-item.bg-list-item-with-description .text-content span.distance {
    font-size: 18px;
    position: absolute;
    bottom: 0;
}