/*====================
=    Listing pages   =
====================*/
.bg-image-list-item.item-complex a.item-content {
    display: inline;
    background: none;
    padding: 0;
    color: #fff;
}

.bg-image-list-item {
    color: white;
    padding: 55px 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    max-height: 150px;
}

.bg-image-list-item.bg-list-item-with-description {
    padding: 40px 50px;
}

.bg-image-list-item .text-content {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0.1em;
    display: block;
}

.bg-image-list-item.bg-list-item-with-description .text-content span.header {
    font-size: 25px;
    white-space: normal;
    line-height: 1em;
    font-weight: 100;
}

.bg-image-list-item.bg-list-item-with-description .text-content p.description {
    margin-top: 5px;
    color: #fff;
    white-space: normal;
    font-size: 13px;
    font-family: 'Droid Sans';
    font-weight: 300;
    line-height: 1.5em;
}

.bg-image-list-item.bg-list-item-with-description .text-content span.distance {
    font-size: 18px;
    position: absolute;
    bottom: 0;
}


/*=========================
=  Event or Place Landing =
=========================*/
.landing-hero-image {
    height: 150px;
}

.landing-map {
    height: 200px;
}

.landing-carousel-image {
    height: 180px;
}

.landing-hero-image, .landing-map, .landing-carousel-image {
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

.landing-hero-image-with-captions {
    position: relative;
}

.landing-hero-image-captions {
    position: absolute;
    color: white;
    top: 25%;
}

.landing-hero-image-captions > span {
    display: block;
    line-height: 1.2em;
    margin-left: 50px;
    margin-bottom: 5px;
}

.ehic-big {
    font-size: 2em;
    font-weight: bold;
}

.ehic-small {
    font-size: 1em;
}

.ehic-med {
    font-size: 1.5em;
    font-weight: bold;
}

.landing-header {
    width: 100%;
    background: #414040;
    color: white;
    padding: 10px 40px;
    font-weight: bold;
}

.landing-event-header {
    background: #98b48b;
}

.landing-rates {
    padding: 0 0 0 40px;
}

.landing-hero-image-captions .landing-address {
    letter-spacing: .1em;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.landing-paragraphs {
    padding: 25px 50px;
}

.landing-paragraphs p {
    font-size: 14px;
    line-height: 1.3em;
}

.landing-credentials .header {
    color: #a0a0a0;
    padding-left: 40px;
}

.landing-credentials a {
    color: #363641;
    text-decoration: underline;
}

/*============ GOOGLE MAPS ===========*/
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}
/*============ GOOGLE MAPS ===========*/